@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Yatra+One&display=swap');

$background: #D1E8E4;
$primary   : #BCCC9A;
$light     : #EAE7C6;
$secondary : #C37B89;


body {
  font-family     : "Abel", sans-serif;
  // font-weight: 400;
  // font-style : normal;
  background-color: $background;
}

.container {
  padding: 10px 5px;

  &__title {
    width     : 100%;
    text-align: center;
    font-size : 3rem;
    color     : $secondary;

    &.name {
      font-family: "Yatra One", system-ui;
      font-size  : 5rem;
    }
  }

  &__profile {
    display         : flex;
    padding         : 30px 20px;
    background-color: $light;
    justify-content : space-between;
    margin-bottom   : 2rem;
    border-radius   : 2rem;

    &--picture {
      background-color: grey;
      width           : 20%;

      div {
        background-color: black;
        width           : 15rem;
        height          : 15rem;
      }
    }

    &--text {
      width    : 80%;
      margin   : auto;
      padding  : 2rem 4rem;
      font-size: 1.5rem;
    }
  }

  &__description {
    background-color: $primary;
    padding         : 1rem 3rem;
    margin-bottom   : 2rem;
    font-size       : 1.5rem;
  }

  &__locations {
    width          : 100%;
    display        : flex;
    justify-content: space-around;

    div {
      background-color: palegreen;
      width           : 40%;
      text-align      : center;
    }
  }

  &__contact {
    padding: 5rem 8rem;
    margin : auto;
    width  : 50%;

    // div {
    //   width: 50%;
    // }
  }
}